 /*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    vertical-align: top;
    width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'noto sans kr', sans-serif;
    color: #2f2f2f;
    background-color: #fff;
    line-height: 1.6;

}

