body {
  margin: 0;
  background: #000;
}
img,
video {
    max-width: 100%;
    vertical-align: top;
}
.main {
    width: 100%;
  height: 100vh;
  position: relative;
}

/* 🎬 video */
.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 🌑 어두운 오버레이 */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}

/* 🧠 텍스트 */
.text-area {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 2;
}

.title {
  font-size: 100px;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
}

/* 🔥 핵심: 마스크 */
.word {
  display: block;
  overflow: hidden;
}

/* 실제 애니메이션 대상 */
.word span {
  display: inline-block;
  transform: translateY(100%);
}

.link-buttom {
    text-decoration: none;
    display: flex;
    width: 120px;
    height: 40px;
    background-color: black;
    
}
.char {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
}
.page-section .row {
  display: flex;
}
.pro-pic img {
  width: 300px;
  height: 500px;
}
.popup {
  position: relative;
}
.popup a {
  background-color: aquamarine;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 4px 10px;
  box-shadow: 4px 4px 4px -2px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  translate: 16px 80px;
  transition: 0.2s ease;

}
.popup a:hover {
  transform: translateY(-4px);
  color: #fff;
}